.well-assign {
    color:inherit !important;
}
.well-assign fieldset {
    padding-top:0 !important;
}
.well-assign .assignmentselection > .control-group {
    margin-bottom: 0 !important;
}
.well-assign > div:not(.assignmentselection) {
    margin-top: 20px !important;
}
.well-assign > div:not(.assignmentselection) > .control-group:last-child {
    margin-bottom: 0px !important;
}

.well-assign {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.well-assign .btn_ignore.btn.active {
    background-color: #EFEFEF;
    border-color: #cccccc;
    color: #555555;
}
.well-assign .btn_exclude.btn.active {
    background-color: #942a25;
    border-color: #942a25;
}

.well-assign .btn {
    min-width: 60px !important;
}