.boxtypes h2 {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}
span.h3 label {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: -6px;
    margin-top: 5px;
}
td {
    vertical-align: middle !important;
}
.chzn-container.disabled {
    pointer-events: none;
}
.control-group label {
    display: inline-block;
}
.helpcontrol {
    margin-top: 5px;
    margin-bottom: 5px;
}
.well > .control-group:last-child {
    margin-bottom: 0;
}
textarea {
    box-sizing: border-box;
    overflow: auto;
}
.paddingLeft {
    padding-left: 20px;
}
.paddingRight {
    padding-right: 20px;
}
.rstbox .hasTooltip::before {
    background-color: #ffffff;
    border: 1px solid #c1c1c1;
    border-radius: 100%;
    color: #929292;
    content: "i";
    display: inline-block;
    float: left;
    font-family: georgia;
    font-size: 10px;
    font-weight: bold;
    height: 13px;
    left: 0;
    line-height: 13px;
    position: absolute;
    text-align: center;
    top: 2px;
    transition: all 200ms ease 0s;
    width: 13px;
}
.rstbox label.hasTooltip {
    padding-left: 20px;
    position: relative;
}
.rstbox label.hasTooltip:hover:before {
    background-color: #0088cc;
    border-color: #0088cc;
    color: #fff;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .rstbox .hasTooltip::before {
        top: 1px;
    }
}
#rstboxfooter {
    margin-bottom:20px;
}
#rstboxfooter .icon-star {
    width: 11px;
    color: #fcac0a;
}
.control-group[class*="rstbox-spacer"] {
    display: block !important;
    float: none;
    width: 100%;
}
.control-group[class*="rstbox-spacer-line"] {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #eeeeee;
}
.spacer .h2 label {
    font-size: 14px;
    font-weight: bold;
}