.rstbox *, .rstbox *:after, .rstbox *:before {
	box-sizing: border-box;
}
.form-horizontal .control-group {
	margin-bottom: 9px;
}
.control-group .controls {
	margin-left: 160px;
}
.helpcontrol label {
	clear: none !important;
	float: left !important;
	margin-top: 0 !important;
}
.clearfix {
	*zoom: 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}
.clearfix:after {
	clear: both;
}
.controls input, .controls select, .controls textarea {
	font-size: 12px;
	padding: 5px;
}
.control-label .label {
	margin-top: 0 !important;
}
div.current select {
	margin-bottom: 0 !important;
}
.row-fluid {
	display: block;
	padding: 7px;
}
.row-fluid > div:not(:last-child) {
	margin-bottom: 30px;
}
.star {
	font-size: inherit !important;
}
fieldset {
	margin-bottom: 0 !important;
}
fieldset label {
	padding-right: 15px;
}
dt {
	font-size: 12px;
	padding: 7px 20px !important;
}
div.current {
	background-color: #f9f9f9;
	padding: 10px 16px !important;
}
.well {
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 19px;
}
hr {
	opacity: .3;
}
.paddingLeft {
	padding-left: 0;
}
.paddingRight {
	padding-right: 0;
}
.row-fluid::after {
	clear: both;
}
.row-fluid::before, .row-fluid::after {
	content: "";
	display: table;
	line-height: 0;
}
.row-fluid {
	width: 100%;
}
.row-fluid [class*="span"] {
	box-sizing: border-box;
	display: block;
	float: left;
	min-height: 28px;
	width: 100%;
}
.row-fluid .span9 {
    width: 74.3094%;
}
.row-fluid .span3 {
    width: 22.9282%;
}
.row-fluid .span6 {
    width: 48.6188%;
}
.form-vertical .control-group .controls {
	margin-left: 0;
}
.form-vertical fieldset {
	border: medium none;
	margin: 0;
	padding: 0;
}
.form-vertical fieldset label {
	clear: none;
}
.form-vertical .control-group {
	margin-bottom: 15px;
}
.rstbox-item {
	margin-top: -20px;
}
.form-vertical.paddingLeft {
	padding-left: 30px;
}
.form-vertical input#jform_name {
	width: 100%;
}
.form-vertical hr {
	margin-bottom: 20px;
	margin-top: -7px;
}
.form-vertical .control-label {
	margin-bottom: 4px;
}

.rstbox .hasTip::before {
    background-color: #ffffff;
    border: 1px solid #c1c1c1;
    border-radius: 100%;
    color: #929292;
    content: "i";
    display: inline-block;
    float: left;
    font-family: georgia;
    font-size: 10px;
    font-weight: bold;
    height: 13px;
    left: 0;
    line-height: 13px;
    position: absolute;
    text-align: center;
    top: 2px;
    transition: all 200ms ease 0s;
    width: 13px;
}
.rstbox label.hasTip {
    padding-left: 20px;
    position: relative;
}
.rstbox label.hasTip:hover:before {
	background-color:#0088cc;
	border-color:#0088cc;
	color:#fff;
}

.advancedNote .controls {
	display:none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.rstbox .hasTip::before {
	    top: 1px;
	}
}